<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1">
<!--   <test name="RunCC" >
  	<parameter name="platform" value="web" />
	<parameter name="browser"  value="Chrome"/>
    <classes>

	<class name="Vluong_Day11.RegisterUser" />
	<class name="Vluong_Day11.LoginUser" />
	<class name="Vluong_Day11.Information_Product" />
	<class name="Vluong_Day11.AddCart" />
    </classes>
  </test> -->
  
  
  
  <test name="RunMobile">
		<parameter name="platform" value="mobile" />
		<parameter name="browser" value="Chrome" />
		<parameter name="devicename" value="435da4f5" />
		<parameter name="portno" value="4737" />
		<classes>

			<class name="Vluong_Day11.Appium_Action" />

		</classes>
	</test>
	
	<test name="RunMobile1">
		<parameter name="platform" value="mobile" />
		<parameter name="browser" value="Chrome" />
		<parameter name="devicename" value="127.0.0.1:5555" />
		<parameter name="portno" value="4738" />
		<classes>

			<class name="Vluong_Day11.Appium_Action" />

		</classes>
	</test>
<!--     <test name="RunFF" >
	<parameter name="browser"  value="FireFox"/>
    <classes>
    	<class name="Vluong_Day11.RegisterUser" />
    </classes>
  </test> -->
  
<!--       <test name="RunEd" >
	<parameter name="browser"  value="Ed"/>
    <classes>
    	<class name="Vluong_Day11.RegisterUser" />
    </classes>
  </test> -->
</suite>

